<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="{{app.description}}" />
<meta name="keywords" content="MOJIO, Connected Car" />
<title data-ng-bind="pageTitle()">MOJIO Website</title>
<link rel="stylesheet" href="app/css/base.css" />
<link rel="stylesheet" href="app/css/mymojio/app.css" data-ng-if="!app.layout.isRTL" />
<!--link(rel='stylesheet', href='app/css/mymojio/app-rtl.css', data-ng-if="app.layout.isRTL")-->
<link rel="stylesheet" ng-href="app/css/mymojio/theme-e.css" />
<link rel="shortcut icon" href="app/img/mojioapp.png" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />