<div dropdown="dropdown" class="btn-group">
   <button type="button" dropdown-toggle="dropdown-toggle" ng-disabled="disabled" class="btn btn-default dropdown-toggle">Fields
      <span class="caret"></span>
   </button>
   <ul role="menu" class="dropdown-menu">
      <li ng-repeat="x in s.f"><a ng-click="ShowHide(x.name)"><i ng-show="!x.show" class="fa fa-square-o"></i><i ng-show="x.show" class="fa fa-check-square-o"></i>{{ x.name }}</a>
      </li>
   </ul>
</div>
<div dropdown="dropdown" class="btn-group">
   <button type="button" dropdown-toggle="dropdown-toggle" ng-disabled="disabled" class="btn btn-default dropdown-toggle">Page Size
      <span class="fa fa-list"></span>
   </button>
   <ul role="menu" class="dropdown-menu">
      <li><a ng-click="changeItemsPerPage(10)"><i class="fa fa-check-square-o"></i>10</a>
      </li>
      <li><a ng-click="changeItemsPerPage(20)"><i class="fa fa-check-square-o"></i>20</a>
      </li>
   </ul>
</div>
<div dropdown="dropdown" class="btn-group">
   <button type="button" dropdown-toggle="dropdown-toggle" ng-disabled="disabled" class="btn btn-default dropdown-toggle">Export
      <span class="fa fa-download"></span>
   </button>
   <ul role="menu" class="dropdown-menu pull-right">
      <li><a ng-click="exportData(EXPORT_CURRENT_PAGE,EXPORT_CSV)"><i class="fa fa-check-square-o"></i>Export Current Page</a>
      </li>
      <li><a ng-click="exportData(EXPORT_VISITED_PAGES,EXPORT_CSV)"><i class="fa fa-check-square-o"></i>Export Visited Pages</a>
      </li>
   </ul>
</div>