<!--Created by pooyaparidel on 15-03-17.

-->
<tabset>
   <tab>
      <tab-heading><i class="fa fa-cubes">&nbsp;Device</i>
      </tab-heading>
      <pre>{{device | json }}</pre>
   </tab>
   <tab>
      <tab-heading><i class="fa fa-cubes">&nbsp;SIM Card</i>
      </tab-heading>
      <pre>{{simCard | json }}</pre>
   </tab>
   <tab>
      <tab-heading><i class="fa fa-user">&nbsp;User</i>
      </tab-heading>
      <pre>{{User | json }}</pre>
   </tab>
   <tab>
      <tab-heading><i class="fa fa-car">&nbsp;Vehicle</i>
      </tab-heading>
      <pre>{{Vehicle | json }}</pre>
   </tab>
</tabset>