<script type="text/ng-template" id="tree_item_renderer.html">
   <i class="fa {{node.icon}}"></i><i ng-if="node.children.length!=0 &amp;&amp; node.status=='expand'" ng-click="node.status='collapse'" class="fa fa-li fa-minus"></i><i ng-if="node.children.length!=0 &amp;&amp; node.status=='collapse'" ng-click="node.status='expand'" class="fa fa-li fa-plus"></i><a ng-click="GotoNode(node)" style="white-space: nowrap;">&nbsp;{{node.title}}</a><ul ng-if="node.status=='expand'" class="fa-ul"><li ng-repeat="node in Child(node)" ng-include="'tree_item_renderer.html'" class="{{menuconfig.menuNodeClass}}"></li></ul>
</script>
<div ng-if="nodes.length!=0" class="row">
   <div class="col-md-12 text-info">
      <ul class="fa-ul">
         <li ng-repeat="node in nodes" ng-include="'tree_item_renderer.html'" class="{{menuconfig.menuNodeClass}}"></li>
      </ul>
   </div>
</div>