<div class="text-center bb">
   <em class="fa fa-info fa-2x"></em>
   <br/>DASHBOARD HELP
   <br/>
   <span class="text-gray-light">BY MOJIO</span>
</div>
<div class="row">
   <div class="col-xs-10 col-xs-offset-1">
      <h3>Welcome to MOJIO Dashboard.</h3>
      <ul>
         <li>MOJIO dashboard is customizable and you can add your Gears to dashboard.</li>
         <li>Each Gear designed to show different data.</li>
         <li>To add new Gear use &nbsp;
            <em class="fa fa-th-large"></em>&nbsp; icon in top right corner. It open a list of all gears and select your favorite ones.</li>
         <li>To remove any gear use &nbsp;
            <em class="fa fa-pencil-square-o"></em>&nbsp; icon in top left corner of gear. It open a contect menu. the first option is remove gear.</li>
         <li>To change gears order use &nbsp;
            <em class="fa fa-pencil-square-o"></em>&nbsp; icon in top left corner of gear. It open a contect menu. there is two option to move gear up or down.</li>
         <li>If you have multiple vehicle you can switch the vehicle by clicking on vehicle name in top left corner of dashboard.</li>
      </ul>
   </div>
</div>
<div class="row">
   <div class="col-xs-10 col-xs-offset-1">
      <button ng-click="$parent.AddDefaultGears()" class="btn btn-info">Add Default Gears to Dashboard for me</button>
   </div>
</div>