<div class="text-center bb">
   <div class="row pt-lg">
      <em class="fa icon-trek fa-2x text-gray-light"></em>
   </div>
   <div class="row">
      <span class="widget-title">{{ "gear.gear_trek_last_trip_map.Title" | translate }}</span>
   </div>
   <div class="row pb-sm">
      <span class="widget-byapp">{{ "gear.gear_trek_last_trip_map.SubTitle" | translate }}</span>
   </div>
</div>
<div class="row">
   <div class="col-md-8">
      <div class="row">
         <div style="height:220px" class="col-md-12 map-place br mt0 ml-lg"></div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="row text-center mt-lg">
         <div class="col-xs-1 col-xs-offset-1">
            <div class="point-start text-circle2">A</div>
         </div>
         <div class="col-xs-9 text-left">
            <div ng-show="$parent.AllData.SelectedVehicle.LastTripData.StartAddress">{{$parent.AllData.SelectedVehicle.LastTripData.StartAddress.Address1}}, {{$parent.AllData.SelectedVehicle.LastTripData.StartAddress.City}}, {{$parent.AllData.SelectedVehicle.LastTripData.StartAddress.State}}</div>
            <lat-lng-to-address ng-if="!$parent.AllData.SelectedVehicle.LastTripData.StartAddress"
            loc="$parent.AllData.SelectedVehicle.LastTripData.StartLocation" cache="true" accuracy="3"></lat-lng-to-address>
            <span class="bb">{{$parent.AllData.SelectedVehicle.LastTripData.StartTime | date:'MMM d, yyyy'}} &nbsp;&nbsp; {{$parent.AllData.SelectedVehicle.LastTripData.StartTime | date:'h:mm:ss a'}}</span>
         </div>
      </div>
      <div class="row text-center">
         <div class="col-xs-1 col-xs-offset-1">
            <div class="point-end text-circle2">B</div>
         </div>
         <div class="col-xs-9 text-left">
            <div ng-show="$parent.AllData.SelectedVehicle.LastTripData.EndAddress">{{$parent.AllData.SelectedVehicle.LastTripData.EndAddress.Address1}}, {{$parent.AllData.SelectedVehicle.LastTripData.EndAddress.City}}, {{$parent.AllData.SelectedVehicle.LastTripData.EndAddress.State}}</div>
            <lat-lng-to-address ng-if="!$parent.AllData.SelectedVehicle.LastTripData.EndAddress"
            loc="$parent.AllData.SelectedVehicle.LastTripData.EndLocation" cache="true" accuracy="3"></lat-lng-to-address>
            <span class="bb">{{$parent.AllData.SelectedVehicle.LastTripData.EndTime | date:'MMM d, yyyy'}} &nbsp;&nbsp; {{$parent.AllData.SelectedVehicle.LastTripData.EndTime | date:'h:mm:ss a'}}</span>
         </div>
      </div>
      <div class="row text-center mt-lg">
         <div class="col-xs-1 col-xs-offset-1">
            <em class="icon-trip"></em>
         </div>
         <div class="col-xs-3 text-left">{{ "gear.gear_trek_last_trip_map.Distance" | translate }}</div>
         <div class="col-xs-6 text-left">{{$parent.AllData.SelectedVehicle.LastTripData.Distance | convertUnit:'Distance':$root.app.layout.unit | number:'1'}} {{'Km' | unitTitle:$root.app.layout.unit}}</div>
      </div>
      <div class="row">
         <div class="col-xs-1 col-xs-offset-1">
            <em class="fa fa-clock-o"></em>
         </div>
         <div class="col-xs-3 text-left">{{ "gear.gear_trek_last_trip_map.Duration" | translate }}</div>
         <div class="col-xs-6 text-left">{{$parent.AllData.SelectedVehicle.LastTripData.EndTime | duration:$parent.AllData.SelectedVehicle.LastTripData.StartTime}}</div>
      </div>
      <div ng-show="$parent.AllData.SelectedVehicle.LastTripData.FuelEfficiency" class="row">
         <div class="col-xs-1 col-xs-offset-1">
            <em class="icon-fuel"></em>
         </div>
         <div class="col-xs-3 text-left">{{ "gear.gear_trek_last_trip_map.Efficiency" | translate }}</div>
         <div class="col-xs-6 text-left">
            <fuel-efficiency-score score="$parent.AllData.SelectedVehicle.LastTripData.FuelEfficiencyScore" change="$parent.AllData.SelectedVehicle.LastTripData.FuelEfficiencyScoreChange" stype="NT"></fuel-efficiency-score>
         </div>
      </div>
   </div>
</div>