<tabset justified="true" class="bg-white p0">
   <tab>
      <tab-heading>O MOJIO</tab-heading>
      <div class="row p-lg">
         <div class="col-md-12">
            <accordion close-others="oneAtATime">
               <accordion-group is-open="status.open01">
                  <accordion-heading>
                     <div>Co znamená Mojio a jak se vyslovuje?<i ng-class="{'fa-angle-down': status.open01, 'fa-angle-right': !status.open01}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio se vyslovuje „modžíou“, s důrazem na první slabiku „mo“. Podle našeho zkoumání nemá žádný význam v žádném jazyce.</accordion-group>
               <accordion-group is-open="status.open02">
                  <accordion-heading>
                     <div>Co je Mojio?<i ng-class="{'fa-angle-down': status.open02, 'fa-angle-right': !status.open02}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio je zařízení a aplikace pro chytrý telefon se systémem iOS nebo Android. Zařízení se zapojení do portu OBD II vozidla a v reálném čase zasílá data z vozidla přímo do chytrého telefonu. Mojio dokáže připojit jakékoli vozidlo vyrobené
                  od roku 1996 a pomáhá řidičům, aby byli ve spojení se svými oblíbenými lidmi, místy a věcmi, a také jim umožňuje přístup k důležitým informacím o výkonnosti a fungování vozidla.</accordion-group>
               <accordion-group is-open="status.open03">
                  <accordion-heading>
                     <div>Jak Mojio funguje?<i ng-class="{'fa-angle-down': status.open03, 'fa-angle-right': !status.open03}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio používá výměnu mobilních dat M2M (machine-to-machine) pro odesílání a příjem dat do vozidla a z vozidla v reálném čase. Data jsou „přeložena“ a zaslána přímo do aplikace v chytrém telefonu, takže získáte informace o vozidle a jeho
                  stavu a přitom budete ve spojení s vašimi oblíbenými lidmi, místy a věcmi. Mojio podporuje dvě rychlosti mobilních sítí, 3G a HSPA/HSPA+. Další informace najdete na:<a target="_blank" href="http://www.moj.io/how-it-works/">www.moj.io/how-it-works/</a>
               </accordion-group>
               <accordion-group is-open="status.open04">
                  <accordion-heading>
                     <div>Jaké informace dokáže Mojio číst z vozidla?<i ng-class="{'fa-angle-down': status.open04, 'fa-angle-right': !status.open04}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio dokáže číst obecné kódy DTC (Diagnostic Trouble Codes), které jsou společné pro všechna vozidla. Naše platforma je zpřístupní základní aplikaci Mojio, stejně jako aplikacím třetích stran, které si můžete pro vaše vozidlo stáhnout.
                  Mojio dokáže číst různá data, například informace o zrychlení, problémy s motorem, události brzdění a další položky, které umožní používat na platformě Mojio senzační nové aplikace.</accordion-group>
               <accordion-group is-open="status.open05">
                  <accordion-heading>
                     <div>Jak je Mojio zabezpečené?<i ng-class="{'fa-angle-down': status.open05, 'fa-angle-right': !status.open05}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio komunikuje přes soukromou síť VPN (virtuální privátní síť), takže žádná třetí strana nemůže komunikaci odposlouchávat nebo zasílat do komunikačních kanálů neautorizované zprávy. Platforma a aplikace Mojio používají stejné 128bitové
                  šifrování a fyzické zabezpečení, jaká používají k ochraně svých transakcí banky. Mojio také zvyšuje vaši bezpečnost prostřednictvím e-mailových, textových a nabízených upozornění, která vás upozorní na jakýkoli přístup třetí strany k
                  vašemu účtu, ať úmyslný nebo jiný, takže můžete v případě potřeby podniknout okamžitou akci. Další informace o narušení bezpečnosti připojených vozidel najdete v našem blogu. &nbsp;<a target="_blank" href="https://www.moj.io/blog/">https://www.moj.io/blog/</a>
               </accordion-group>
               <accordion-group is-open="status.open06">
                  <accordion-heading>
                     <div>Co děláte s mými daty?<i ng-class="{'fa-angle-down': status.open06, 'fa-angle-right': !status.open06}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>S Mojio máte neustále nad svými daty kontrolu a víte, kdo je vidí a jak se používají. Tečka. Vytvořili jsme naše Zásady ochrany osobních údajů tak, že ochrana osobních údajů je v nich nejvyšší prioritou. Stručně řečeno – počítačová data
                  o vašem vozidle používají aplikace Mojio tak, aby vám usnadnily život, ale vždy pouze s vaším svolením. Veškeré podrobnosti najdete na: www.moj.io/privacy.</accordion-group>
               <accordion-group is-open="status.open07">
                  <accordion-heading>
                     <div>Bude Mojio fungovat se vznětovým, elektrickým nebo hybridním motorem?<i ng-class="{'fa-angle-down': status.open07,'fa-angle-right': !status.open07}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Stručná odpověď zní: převážně ano. Nicméně kvůli způsobu, jakým Mojio interpretuje data z počítače vozidla, nejsme schopni rozlišit rozdíly mezi zážehovým, vznětovým, elektrickým nebo hybridním motorem. Všechny údaje ohledně spotřeby
                  paliva a počtu ujetých kilometrů, které Mojio odečítá, jsou vypočítány pomocí výpočtů pro zážehové motory – takže pro jiné typy motorů jsou údaje nepřesné. To znamená, že všechny ostatní funkce aplikace Mojio a aplikací třetích stran,
                  které nesouvisí s údaji o spotřebě paliva, by měly fungovat správně.</accordion-group>
               <accordion-group is-open="status.open08">
                  <accordion-heading>
                     <div>Mohu použít mimo území Kanady a USA jinou SIM kartu?<i ng-class="{'fa-angle-down': status.open08, 'fa-angle-right': !status.open08}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Z bezpečnostních důvodů je Mojio uzamčené a SIM karty nelze upravovat nebo měnit. Mojio cloud také neakceptuje neověřené SIM karty. Pro naše mezinárodní zákazníky máme připravenou spolupráci s AT&T pro mezinárodní pokrytí SIM kartami
                  ve všech více než 140 zemích, ve kterých společnost AT&T působí. Pokud potřebujete další informace ohledně vašich specifických potřeb v zahraničí, kontaktujte nás na adrese info@moj.io</accordion-group>
               <accordion-group is-open="status.open09">
                  <accordion-heading>
                     <div>Kdy bude Mojio dostupné v mojí zemi?<i ng-class="{'fa-angle-down': status.open09, 'fa-angle-right': !status.open09}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Naši globální působnost neustále rozšiřujeme. Pokud potřebujete další informace ohledně vašich specifických potřeb v zahraničí, kontaktujte nás na adrese info@moj.io</accordion-group>
            </accordion>
         </div>
      </div>
   </tab>
   <tab>
      <tab-heading>INSTALACE MOJIO</tab-heading>
      <div class="row p-lg">
         <div class="col-md-12">
            <accordion close-others="oneAtATime">
               <accordion-group is-open="status.open10">
                  <accordion-heading>
                     <div>Jak nainstaluji Mojio?<i ng-class="{'fa-angle-down': status.open10, 'fa-angle-right': !status.open10}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Instalace je jednoduchá!
                  <br/>
                  <ol>
                     <li>Vypněte vozidlo.</li>
                     <li>Vyhledejte ve vozidle port Diagnostic Link Connector (port DLC nebo OBD II).  </li>
                     <li>Všechny vozidla vyrobená od roku 1996 jsou vybavená portem DLC/OBD. Obvykle je umístěný uvnitř vozidla, pod přístrojovou deskou, na straně řidiče, ve vzdálenosti do 18 palců od volantu. Nejčastěji je umístěný pod přístrojovou deskou,
                        obvykle přímo pod volantem. Může být zakrytý plastovou krytkou, kterou je nutné sundat. Pokud tam není, může být pod krytem na středovém panelu. Pokud jste ve vozidle port nenašli, podívejte se do návodu k použití vozidla nebo
                        vyhledejte informace na Internetu.</li>
                     <li>Vyrovnejte konektor zařízení Mojio s tvarem portu OBD.</li>
                     <li>Pevně zasuňte hardwarový klíč Mojio do portu OBD. Měl by se pohodlně zasunout a zůstat pevně zapojený.</li>
                     <li>Nyní stáhněte aplikaci Mojio z obchodu Apple App Store, nebo z obchodu Google Play Store, pokud máte telefon se systémem Android. Spusťte aplikaci, postupujte podle pokynů ke spárování, a můžete začít!</li>
                  </ol>Další informace najdete na:<a target="_blank" href="http://www.moj.io/setup/">www.moj.io/setup/</a>
               </accordion-group>
               <accordion-group is-open="status.open11">
                  <accordion-heading>
                     <div>Mohu spárovat dvě nebo více zařízení nebo vozidel s jedním účtem?<i ng-class="{'fa-angle-down': status.open11, 'fa-angle-right': !status.open11}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Další vozidla se k účtu přidávají automaticky, jakmile zapojíte zařízení Mojio do nového vozidla a data se přenesou do Mojio cloudu.</accordion-group>
               <accordion-group is-open="status.open12">
                  <accordion-heading>
                     <div>Jak zaregistruji další zařízení nebo vozidla do jednoho účtu?<i ng-class="{'fa-angle-down': status.open12, 'fa-angle-right': !status.open12}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Chcete-li zaregistrovat více zařízení Mojio, přihlaste se k webu My Mojio, přejděte na My Account a v okně Manage my Devices klikněte na tlačítko „Register my Device“. Další zařízení je také možné zaregistrovat pomocí mobilní aplikace,
                  když přejdete v menu na obrazovku Setup a v rámečku Vehicle Settings přejdete na položku + Add a Mojio. V seznamu vozidel se nyní zobrazí každé vozidlo, do které jste zapojili další zařízení Mojio. Na obrazovkách Setup v mobilní aplikaci
                  si můžete vybrat jiné výchozí vozidlo.</accordion-group>
               <accordion-group is-open="status.open13">
                  <accordion-heading>
                     <div>Co když mi Mojio přestane po nainstalování vyhovovat?<i ng-class="{'fa-angle-down': status.open13, 'fa-angle-right': !status.open13}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>K odinstalování Mojio stačí odebrat zařízení a odstranit aplikaci. Aplikaci je možné odstranit standardním postupem pro odstranění aplikace ve vašem chytrém telefonu.
                  <br/>Zařízení odinstalujete tak, že ho pevně uchopíte a vytáhnete ho z portu OBD. I když může držet pevně, zařízení Mojio není nijak zajištěné a mělo by jít snadno vytáhnout.
                  <br/>Pokud narazíte na potíže, kontaktujte nás na adrese support@moj.io, nebo zavolejte na bezplatnou linku 1-855-55MOJIO, od pondělí do pátku, 9:30 až 17:30 (PST), a my vám pomůžeme s postupem ve vašem telefonu.</accordion-group>
            </accordion>
         </div>
      </div>
   </tab>
   <tab>
      <tab-heading>POUŽITÍ MOJIO</tab-heading>
      <div class="row p-lg">
         <div class="col-md-12">
            <accordion close-others="oneAtATime">
               <accordion-group is-open="status.open20">
                  <accordion-heading>
                     <div>Mohu použít Mojio v libovolném vozidle a kdekoli?<i ng-class="{'fa-angle-down': status.open20, 'fa-angle-right': !status.open20}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio funguje ve všech vozidlech vyrobených po roce 1995 a jak rozšiřujeme naši působnost ve světě, bude se připojovat k vybraným mobilním sítím. V současnosti pokrýváme USA a Kanadu. Pokud potřebujete další informace ohledně toho, kdy
                  bude Mojio dostupné ve vaší zemi, kontaktujte nás na adrese info@moj.io</accordion-group>
               <accordion-group is-open="status.open21">
                  <accordion-heading>
                     <div>Zvýší Mojio odběr energie z baterie telefonu?<i ng-class="{'fa-angle-down': status.open21, 'fa-angle-right': !status.open21}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Protože je Mojio aplikace, neodčerpá z baterie telefonu více energie než jakákoli jiná aplikace.</accordion-group>
               <accordion-group is-open="status.open22">
                  <accordion-heading>
                     <div>Zvýší Mojio odběr energie z baterie vozidla?<i ng-class="{'fa-angle-down': status.open22, 'fa-angle-right': !status.open22}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Zařízení Mojio odčerpává z baterie tolik energie, aby zůstalo zapnuté (méně než 4,2 mA), a upozorní vás, pokud energie baterie vozidla příliš poklesne. Kdybyste nechali vozidlo velmi dlouho zaparkované, a nepoužívali byste aplikaci,
                  teoreticky by zařízení Mojio mohlo baterii vybít. Není to běžné, ale protože každá baterie je jiná, nelze odhadnout, za jak dlouho by se baterie vybila. Pokud tedy aplikaci nepoužíváte, doporučujeme zařízení Mojio úplně odpojit.</accordion-group>
               <accordion-group
               is-open="status.open23">
                  <accordion-heading>
                     <div>Bude Mojio fungovat, když s jedním vozidlem jezdí více řidičů?<i ng-class="{'fa-angle-down': status.open23, 'fa-angle-right': !status.open23}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio se spáruje s libovolným počtem chytrých telefonů. Když s jedním vozidlem jezdí více řidičů a všichni mají v chytrém telefonu nainstalovanou aplikaci Mojio, Mojio vždy ví, který řidič je ve vozidle. Mojio spáruje telefon s vozidlem
                  a nabídne řidiči jeho vybrané předvolby. Nicméně je nutné použít v aplikaci stejný účet, který musí uživatelé stejného vozidla sdílet.</accordion-group>
                  <accordion-group is-open="status.open24">
                     <accordion-heading>
                        <div>Proč je v záznamu spotřeby paliva uvedeno, že nebylo spotřebováno žádné palivo, když jsem s vozidlem jezdil?<i ng-class="{'fa-angle-down': status.open24, 'fa-angle-right': !status.open24}" class="fa pull-right visible-md visible-lg"></i>
                        </div>
                     </accordion-heading>Právě jsme zjistili, že ne všechna vozidla spolehlivě hlásí spotřebu paliva prostřednictvím portu OBD-II. Usilovně spolupracujeme s výrobci vozidel a neustále zlepšujeme naše pokrytí vozidel, proto doufáme, že budeme zanedlouho schopni
                     zjišťovat přesnou spotřebu paliva pro vaše vozidlo.</accordion-group>
                  <accordion-group is-open="status.open25">
                     <accordion-heading>
                        <div>Co znamená, když obrazovka aplikace zešedne?<i ng-class="{'fa-angle-down': status.open25, 'fa-angle-right': !status.open25}" class="fa pull-right visible-md visible-lg"></i>
                        </div>
                     </accordion-heading>Když zešedne obrazovka v mobilní aplikaci, znamená to, že zařízení nebo telefon nejsou schopné připojit se k síti. K tomu může dojít, když se vozidlo nachází v místě, kde dochází k rušení sítě, např. v podzemním parkovišti. Ztráta
                     připojení k síti by měla být dočasná a když se vozidlo pohybuje, měly by potíže zmizet během několika sekund. Pokud máte nadále potíže se šedou obrazovkou, obraťte se na naši zákaznickou podporu a my je s vámi odstraníme.</accordion-group>
                  <accordion-group
                  is-open="status.open26">
                     <accordion-heading>
                        <div>Jak mohu navrhnout aplikaci pro Mojio?<i ng-class="{'fa-angle-down': status.open26, 'fa-angle-right': !status.open26}" class="fa pull-right visible-md visible-lg"></i>
                        </div>
                     </accordion-heading>Je to snadné. Pokud jste vývojář a máte zájem o vývoj aplikace pro komunitu Mojio, vše, co pro začátek potřebujete, najdete na<a target="_blank" href="https://developer.moj.io/dashboard">https://developer.moj.io/dashboard</a>
                     </accordion-group>
                     <accordion-group is-open="status.open27">
                        <accordion-heading>
                           <div>Jak funguje služba IFTTT s Mojio?<i ng-class="{'fa-angle-down': status.open27, 'fa-angle-right': !status.open27}" class="fa pull-right visible-md visible-lg"></i>
                           </div>
                        </accordion-heading>Všeobecně funguje kanál IFTTT v Mojio tak, že detekuje specifické události a zasílá je na server, a služba IFTTT potom zjišťuje, jestli byly od posledního cyklu vygenerovány nějaké nové události související s předpisy.</accordion-group>
                     <accordion-group
                     is-open="status.open28">
                        <accordion-heading>
                           <div>Všeobecně funguje kanál IFTTT v Mojio tak, že detekuje specifické události a zasílá je na server, a služba IFTTT potom zjišťuje, jestli byly od posledního cyklu vygenerovány nějaké nové události související s předpisy.<i ng-class="{'fa-angle-down': status.open28, 'fa-angle-right': !status.open28}"
                              class="fa pull-right visible-md visible-lg"></i>
                           </div>
                        </accordion-heading>Ano, na stránce historie cest je v pravém horním rohu nad tabulkou cest tlačítko pro export. Pomocí tohoto tlačítka je možné zkopírovat nebo stáhnout historii cest do souboru CSV, Excel nebo PDF.</accordion-group>
            </accordion>
         </div>
      </div>
   </tab>
</tabset>