<tabset justified="true" class="bg-white p0">
   <tab>
      <tab-heading>ABOUT MOJIO</tab-heading>
      <div class="row p-lg">
         <div class="col-md-12">
            <accordion close-others="oneAtATime">
               <accordion-group is-open="status.open01">
                  <accordion-heading>
                     <div>What does Mojio mean, and how do I pronounce it?<i ng-class="{'fa-angle-down': status.open01, 'fa-angle-right': !status.open01}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio is pronounced mo-jee-oh, with the emphasis on the first syllable "mo". According to our research, it has no meaning in any language, anywhere.</accordion-group>
               <accordion-group is-open="status.open02">
                  <accordion-heading>
                     <div>What is Mojio?<i ng-class="{'fa-angle-down': status.open02, 'fa-angle-right': !status.open02}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio is a device and an app for your iOS or android smartphone. The device plugs into your vehicle’s OBD II port and feeds real-time data from your vehicle to your smart phone in plain English. Mojio makes any car manufactured since
                  1996 a connected car, helping drivers to stay connected to their favourite people, places and things, as well as to access important information about their car performance and functioning.</accordion-group>
               <accordion-group is-open="status.open03">
                  <accordion-heading>
                     <div>How does Mojio work?<i ng-class="{'fa-angle-down': status.open03, 'fa-angle-right': !status.open03}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio uses machine-to-machine (M2M) cellular data exchange to send and receive data to and from your car in real time. That data is “translated” and fed to the app on your smartphone in plain English, giving you information about your
                  car and its status while keeping you connected to your favorite people, places and things. Mojio supports two cellular network speeds, 3G and HSPA/HSPA+. For more info go to: &nbsp;<a target="_blank" href="http://www.moj.io/how-it-works/">www.moj.io/how-it-works/</a>
               </accordion-group>
               <accordion-group is-open="status.open04">
                  <accordion-heading>
                     <div>What information can Mojio read from a car?<i ng-class="{'fa-angle-down': status.open04, 'fa-angle-right': !status.open04}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio can read generic Diagnostic Trouble Codes (DTC) common to all vehicles. Our platform makes these available to the core Mojio app as well as 3rd party apps you may download for your car. Mojio can read things like acceleration information,
                  engine trouble, brake events and other data points that will enable exciting new apps on the Mojio platform.</accordion-group>
               <accordion-group is-open="status.open05">
                  <accordion-heading>
                     <div>How secure is Mojio?<i ng-class="{'fa-angle-down': status.open05, 'fa-angle-right': !status.open05}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio communicates over a private cellular Virtual Private Network (VPN) thereby preventing any third party from eavesdropping or injecting unauthorized messages into the communication channels. The Mojio platform and apps use the same
                  128-bit encryption and physical security that banks use to protect their transactions. Mojio also increases your security through email, text and push alerts that notify you about any third party access to your account, intentional or
                  otherwise, so that you can take immediate action if necessary. For more information on hacking connected cars, see our blog here. &nbsp;<a target="_blank" href="https://www.moj.io/blog/">https://www.moj.io/blog/</a>
               </accordion-group>
               <accordion-group is-open="status.open06">
                  <accordion-heading>
                     <div>What do you do with my data?<i ng-class="{'fa-angle-down': status.open06, 'fa-angle-right': !status.open06}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>With Mojio, you are always in control of your data, who sees it and how it is used. Full stop. We created our Privacy Policy before we created our company with user privacy top of mind. In a nutshell, your car’s computer data is used
                  by the Mojio apps to make your life easier but only with your permission. Please visit: www.moj.io/privacy for full details.
               </accordion-group>
               <accordion-group is-open="status.open07">
                  <accordion-heading>
                     <div>Will my Mojio work on a Diesel, Electric or Hybrid Engine?<i ng-class="{'fa-angle-down': status.open07,'fa-angle-right': !status.open07}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>The short answer is “mostly, yes.” In detail, unfortunately, due to the way Mojio interprets data from the on-board computer, we are unable to detect the difference between gasoline, electric, hybrid or diesel engines. All of the figures
                  Mojio reads regarding gas consumption and mileage are calculated based on gasoline engine calculations – so the data is inaccurate for other engine types. That said, all other functions of the Mojio app and other third party apps not
                  relying on gas consumption data should still work properly.</accordion-group>
               <accordion-group is-open="status.open08">
                  <accordion-heading>
                     <div>Can I use a different SIM Card outside Canada or the US?<i ng-class="{'fa-angle-down': status.open08, 'fa-angle-right': !status.open08}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>For security reasons, Mojio is locked and so SIM cards cannot be modified or swapped. Nor will the Mojio cloud accept non-authenticated SIMs. For our international customers, we have secured a relationship with AT&T for international
                  SIM coverage in any one of the 140+ countries in which AT&T operates. For more information on your specific global needs, please contact us at info@moj.io</accordion-group>
               <accordion-group is-open="status.open09">
                  <accordion-heading>
                     <div>When will Mojio be available in my country?<i ng-class="{'fa-angle-down': status.open09, 'fa-angle-right': !status.open09}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>We are continually expanding our global footprint. For more information on your specific global needs, please contact us at info@moj.io</accordion-group>
            </accordion>
         </div>
      </div>
   </tab>
   <tab>
      <tab-heading>INSTALLING MOJIO</tab-heading>
      <div class="row p-lg">
         <div class="col-md-12">
            <accordion close-others="oneAtATime">
               <accordion-group is-open="status.open10">
                  <accordion-heading>
                     <div>How do I install Mojio?<i ng-class="{'fa-angle-down': status.open10, 'fa-angle-right': !status.open10}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Installation is simple!
                  <br/>
                  <ol>
                     <li>Turn off your car.</li>
                     <li>Locate the Diagnostic Link Connector port (DLC port or OBD II port) in your car. All cars made since 1996 have a DLC/OBD port in them. It is usually located inside the car, under the dash, on the driver side, within 18 inches of the
                        steering wheel. It is most often found under the dashboard, usually directly under the steering wheel. It might have a plastic cap that must be removed. If not, it could be on the central console under a cover. If you cannot locate
                        your car’s port, check your car manual or online.  </li>
                     <li>Make sure to align the shape of the Mojio device with the shape of the OBD port.</li>
                     <li>Firmly insert the Mojio dongle into the OBD port. It should fit snugly and stay firmly connected.</li>
                     <li>Now download the Mojio app from the Apple App Store, or from the Google Play Store if you have an Android phone. Open the app and follow the pairing instructions and you’re good to go!</li>
                  </ol>For more information go to:<a target="_blank" href="http://www.moj.io/setup/">www.moj.io/setup/</a>
               </accordion-group>
               <accordion-group is-open="status.open11">
                  <accordion-heading>
                     <div>Can I pair two or more devices or vehicles to one account?<i ng-class="{'fa-angle-down': status.open11, 'fa-angle-right': !status.open11}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Additional vehicles are automatically added to your account when you plug your Mojio into a new vehicle and data is transmitted to the Mojio cloud.</accordion-group>
               <accordion-group is-open="status.open12">
                  <accordion-heading>
                     <div>How do I register additional devices or vehicles to one account?<i ng-class="{'fa-angle-down': status.open12, 'fa-angle-right': !status.open12}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>To register more than one Mojio device, log in to the My Mojio website, go to My Account and then click on “Register my Device” in the Manage my Devices window. Additional devices can also be registered using the mobile app, from the
                  menu go to the Setup screen and navigate to + Add a Mojio located under Vehicle Settings. Each vehicle that your additional Mojio devices are plugged into will now appear in your vehicles list. You can select a different default vehicle
                  in the mobile app under the Setup screens.</accordion-group>
               <accordion-group is-open="status.open13">
                  <accordion-heading>
                     <div>What if I don’t like Mojio after I’ve installed it?<i ng-class="{'fa-angle-down': status.open13, 'fa-angle-right': !status.open13}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Uninstalling Mojio is as easy as removing the device and deleting the app. The app can be deleted by following the standard steps on your smartphone.
                  <br/>To uninstall the device, just grip it firmly and pull it straight out from the OBD port. It may be a snug fit however, Mojio is NOT locked in place and should unplug quite easily.
                  <br/>If you have any problems, please contact us at support@moj.io or call toll-free to 1-855- 55MOJIO, Monday to Friday 9:30 am to 5:30 pm (PST) and we will be happy to walk through the process with you on the phone.</accordion-group>
            </accordion>
         </div>
      </div>
   </tab>
   <tab>
      <tab-heading>USING MOJIO</tab-heading>
      <div class="row p-lg">
         <div class="col-md-12">
            <accordion close-others="oneAtATime">
               <accordion-group is-open="status.open20">
                  <accordion-heading>
                     <div>Can I use Mojio in any car, anywhere?<i ng-class="{'fa-angle-down': status.open20, 'fa-angle-right': !status.open20}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio works in any car built after 1995 and will connect to select cellular networks as we roll out across the world. Currently, we are available in the US and Canada. For more information on when Mojio will be available in your country,
                  please contact us at info@moj.io
               </accordion-group>
               <accordion-group is-open="status.open21">
                  <accordion-heading>
                     <div>Will Mojio drain my phone battery?<i ng-class="{'fa-angle-down': status.open21, 'fa-angle-right': !status.open21}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>As an app, Mojio will not tap your phone’s battery any more than any other app.</accordion-group>
               <accordion-group is-open="status.open22">
                  <accordion-heading>
                     <div>Will Mojio drain my car battery?<i ng-class="{'fa-angle-down': status.open22, 'fa-angle-right': !status.open22}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio will pull enough energy from the battery to keep itself awake (less than 4.2mA) and will notify you if your car battery is getting too low. If your car is parked for a very long time, and you are not using the app, theoretically,
                  Mojio could drain your car’s battery. It’s not common but because everyone’s battery is different, we cannot predict how long it may take to drain your battery. So, if you are not using the app, we also recommend you unplug Mojio entirely.</accordion-group>
               <accordion-group
               is-open="status.open23">
                  <accordion-heading>
                     <div>Will Mojio work if I have more than one driver for the same car?<i ng-class="{'fa-angle-down': status.open23, 'fa-angle-right': !status.open23}" class="fa pull-right visible-md visible-lg"></i>
                     </div>
                  </accordion-heading>Mojio pairs with any number of smartphones. When there are multiple drivers for one car who each have the Mojio app on their smartphone, Mojio always knows which driver is in the car. Mojio will pair with the phone in the car and provide
                  that driver’s selected preferences. However, the same account needs to be used in the app, and that will need to be shared between the users of the same vehicle.</accordion-group>
                  <accordion-group is-open="status.open24">
                     <accordion-heading>
                        <div>Why does my fuel report show no fuel consumed, when I've been driving my car around?<i ng-class="{'fa-angle-down': status.open24, 'fa-angle-right': !status.open24}" class="fa pull-right visible-md visible-lg"></i>
                        </div>
                     </accordion-heading>At the moment we are finding that not all vehicles reliably report their fuel consumption through the OBD-II port. We are working hard with car manufacturers and continuously improving our vehicle data coverage, so hopefully we will
                     start being able to get accurate fuel consumption for your vehicle in the near future.</accordion-group>
                  <accordion-group is-open="status.open25">
                     <accordion-heading>
                        <div>What does it mean when my app screen goes gray?<i ng-class="{'fa-angle-down': status.open25, 'fa-angle-right': !status.open25}" class="fa pull-right visible-md visible-lg"></i>
                        </div>
                     </accordion-heading>The screen going gray in your mobile app means either that the device or your phone aren't able to connect to the network. This could happen if your vehicle is in a location that is causing network interference, such as an underground
                     parking garage. A loss of network connection should be temporary and resolve itself within a few seconds if your vehicle is moving. If you have any ongoing gray screen issues please contact customer support and we’ll check it out
                     for you.</accordion-group>
                  <accordion-group is-open="status.open26">
                     <accordion-heading>
                        <div>How can I design an app for Mojio?<i ng-class="{'fa-angle-down': status.open26, 'fa-angle-right': !status.open26}" class="fa pull-right visible-md visible-lg"></i>
                        </div>
                     </accordion-heading>It’s easy. If you are a developer and interested in developing an app for the Mojio community, everything you need to get started can be found at<a target="_blank" href="https://developer.moj.io/dashboard">https://developer.moj.io/dashboard</a>
                  </accordion-group>
                  <accordion-group is-open="status.open27">
                     <accordion-heading>
                        <div>How does IFTTT work with Mojio?<i ng-class="{'fa-angle-down': status.open27, 'fa-angle-right': !status.open27}" class="fa pull-right visible-md visible-lg"></i>
                        </div>
                     </accordion-heading>Broadly, Mojio's IFTTT channel works by detecting specific events and pushing them to a server, and then IFTTT polls that deployment to see if any new events related to recipes have been generated since the last poll cycle.</accordion-group>
                  <accordion-group
                  is-open="status.open28">
                     <accordion-heading>
                        <div>Can I export my trip history to a file?<i ng-class="{'fa-angle-down': status.open28, 'fa-angle-right': !status.open28}" class="fa pull-right visible-md visible-lg"></i>
                        </div>
                     </accordion-heading>Yes, on the trip history page there is an export button in the top right above the trip table. Use this button to copy or download your trip history to CSV, Excel, or PDF.</accordion-group>
            </accordion>
         </div>
      </div>
   </tab>
</tabset>