<h3>Stats
   <div class="pull-right">All Dealers
      <label class="switch">
         <input type="checkbox" ng-model="alldealer" />
         <span></span>
      </label>
   </div>
</h3>
<div class="container-fluid">
   <div class="row">
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Users 24 hours</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.UserCount1}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Users 7 days</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.UserCount7}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Users 30 days</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.UserCount30}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Users Total</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.UserCount3560}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Offers 24 hours</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.OfferCount1}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Offers 7 days</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.OfferCount7}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Offers 30 days</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.OfferCount30}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Offers Total</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.OfferCount3560}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Validations 24 hours</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.OfferValidationCount1}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Validations 7 days</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.OfferValidationCount7}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Validations 30 days</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.OfferValidationCount30}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Validations Total</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.OfferValidationCount3560}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Dealer Visits 24 hours</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.DealerVisitCount1}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Dealer Visits 7 days</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.DealerVisitCount7}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Dealer Visits 30 days</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.DealerVisitCount30}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Dealer Visits Total</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.DealerVisitCount3560}}</h1>
            </div>
         </div>
      </div>
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h4 class="panel-title">Vehicles with diagnostic Codes (Current Dealer Only)</h4>
            </div>
            <div class="panel-body bt">
               <h1 class="text-center">{{data.DiagnosticCount}}</h1>
            </div>
         </div>
      </div>
   </div>
</div>