<div class="row">
   <div class="panel">
      <div class="panel-body">
         <div class="col-md-12">
            <h4 class="mt0">
               <span class="fa fa-user fa-2x"></span>&nbsp; {{data.UserName}}</h4>
            <hr/>
            <p ng-if="data.FirstName || data.LastName">Fullname:
               <span ng-if="data.FirstName">{{data.LastName}}</span>
               <span ng-if="data.LastName">{{data.LastName}}</span>
            </p>
            <p ng-if="data.Email">Email: {{data.Email}}</p>Operations:
            <ul class="fa-ul">
               <li><i class="fa-li fa fa-tag"></i><a href="" ng-click="$parent.deselect()">&nbsp;Deselect This User</a>
               </li>
               <li><i class="fa-li fa fa-user"></i><a href="" ng-click="showMyself()">&nbsp;Switch to Myself</a>
               </li>
               <li><i class="fa-li fa fa-file-o"></i><a ng-if="!rel.apps.length" href="" ng-click="showApps()">&nbsp;List of Applications</a>
                  <span ng-if="rel.apps.length">&nbsp;List of Applications
                     <ul class="fa-ul">
                        <li ng-repeat="apl in rel.apps"><i class="fa-li fa fa-file-o"></i><a ng-click="broadcast(apl)">{{apl.Name}}</a>
                        </li>
                     </ul>
                  </span>
               </li>
               <li><i class="fa-li fa fa-hdd-o"></i><a ng-if="!rel.mojios.length" href="" ng-click="showMojios()">&nbsp;List of Devices</a>
                  <span ng-if="rel.mojios.length">&nbsp;List of Devices
                     <ul class="fa-ul">
                        <li ng-repeat="dev in rel.mojios"><i class="fa-li fa fa-hdd-o"></i>
                           <a ng-click="broadcast(dev)">
                              <span ng-if="dev.Name">{{dev.Name}}</span>
                              <span ng-if="!dev.Name">{{dev.Imei}}</span>
                           </a>
                        </li>
                     </ul>
                  </span>
               </li>
               <li><i class="fa-li fa fa-car"></i><a ng-if="!rel.vehicles.length" href="" ng-click="showVehicles()">&nbsp;List of Vehicles</a>
                  <span ng-if="rel.vehicles.length">&nbsp;List of Vehicles
                     <ul class="fa-ul">
                        <li ng-repeat="veh in rel.vehicles"><i class="fa-li fa fa-car"></i>
                           <a ng-click="broadcast(veh)">
                              <span ng-if="veh.Name">{{veh.Name}}</span>
                              <span ng-if="!veh.Name">{{veh._id}}</span>
                           </a>
                        </li>
                     </ul>
                  </span>
               </li>
               <li><i class="fa-li fa fa-openid"></i><a ng-if="!rel.trips.length &amp;&amp; !rel.loadTrips" href="" ng-click="showRecentTrips()">&nbsp;List of Recent Trips</a>
                  <span ng-if="rel.trips.length || rel.loadTrips">&nbsp;List of Recent Trips
                     <ul class="fa-ul">
                        <li ng-repeat="trp in rel.trips"><i class="fa-li fa fa-openid"></i><a ng-click="broadcast(trp)">{{trp.StartTime | date:'yy-MM-dd HH:mm'}}
-
{{trp.EndTime | date:'HH:mm'}}</a>
                        </li>
                        <li ng-if="rel.loadTrips"><i class="fa-li fa fa-spinner fa-spin"></i>Loading...</li>
                        <li ng-if="rel.moreTrips"><i class="fa-li fa fa-openid"></i><a href="" ng-click="showRecentTrips()">&nbsp;Load more</a>
                        </li>
                     </ul>
                  </span>
               </li>
               <li><i class="fa-li fa fa-bolt"></i><a ng-if="!rel.events.length &amp;&amp; !rel.loadEvents" href="" ng-click="showRecentEvents()">&nbsp;List of Recent Events</a>
                  <span ng-if="rel.events.length|| rel.loadEvents">&nbsp;List of Recent Events
                     <ul class="fa-ul">
                        <li ng-repeat="eve in rel.events"><i class="fa-li fa fa-bolt"></i><a ng-click="broadcast(eve)">{{eve.EventType}} ({{eve.Time | date:'yy-MM-dd HH:mm'}})</a>
                        </li>
                        <li ng-if="rel.loadEvents"><i class="fa-li fa fa-spinner fa-spin"></i>Loading...</li>
                        <li ng-if="rel.moreEvents"><i class="fa-li fa fa-bolt"></i><a href="" ng-click="showRecentEvents()">&nbsp;Load more</a>
                        </li>
                     </ul>
                  </span>
               </li>
            </ul>
         </div>
         <div class="col-md-8"></div>
      </div>
   </div>
</div>